@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
    --padding-xxs: 0.143rem;  /* 2px  */
    --padding-xs: 0.286rem;   /* 4px  */
    --padding-sm: 0.429rem;   /* 6px  */
    --padding-md: 0.571rem;   /* 8px  */
    --padding-lg: 0.714rem;   /* 10px */
    --padding-xl: 0.857rem;   /* 12px */
    --padding-2xl: 1rem;      /* 14px */
    --padding-3xl: 1.143rem;  /* 16px */
    --padding-4xl: 1.286rem;  /* 18px */
    --padding-5xl: 1.429rem;  /* 20px */
    --padding-6xl: 1.571rem;  /* 22px */
    --padding-7xl: 1.714rem;  /* 24px */
    --margin-xxs: 0.143rem;   /* 2px  */
    --margin-xs: 0.286rem;    /* 4px  */
    --margin-sm: 0.429rem;    /* 6px  */
    --margin-md: 0.571rem;    /* 8px  */
    --margin-lg: 0.714rem;    /* 10px */
    --margin-xl: 0.857rem;    /* 12px */
    --margin-2xl: 1rem;       /* 14px */
    --margin-3xl: 1.143rem;   /* 16px */
    --margin-4xl: 1.286rem;   /* 18px */
    --margin-5xl: 1.429rem;   /* 20px */
    --margin-6xl: 1.571rem;   /* 22px */
    --margin-7xl: 1.714rem;   /* 24px */
    --margin-8xl: 2rem;       /* 28px */
    --gap-xxs: 0.143rem;      /* 2px  */
    --gap-xs: 0.286rem;       /* 4px  */
    --gap-sm: 0.429rem;       /* 6px  */
    --gap-md: 0.571rem;       /* 8px  */
    --gap-lg: 0.714rem;       /* 10px */
    --gap-xl: 0.857rem;       /* 12px */
    --gap-2xl: 1rem;          /* 14px */
    --gap-3xl: 1.143rem;      /* 16px */
    --gap-4xl: 1.286rem;      /* 18px */
    --gap-5xl: 1.429rem;      /* 20px */
    --gap-6xl: 1.571rem;      /* 22px */
    --gap-7xl: 1.714rem;      /* 24px */
    --text-xxs: 0.714rem;     /* 10px */
    --text-xs: 0.857rem;      /* 12px */
    --text-sm: 1rem;          /* 14px */
    --text-md: 1.143rem;      /* 16px */
    --text-lg: 1.286rem;      /* 18px */
    --text-xl: 1.429rem;      /* 20px */
    --text-2xl: 1.571rem;     /* 22px */
    --text-3xl: 1.714rem;     /* 24px */
    --text-4xl: 2rem;         /* 28px */
    --text-4_5xl: 2.143rem;   /* 30px */
    --text-5xl: 2.286rem;     /* 32px */
    --text-6xl: 2.571rem;     /* 36px */
    --text-7xl: 3.429rem;     /* 48px */
    --text-8xl: 4.286rem;     /* 60px */
    --radius-xxs: 0.143rem;   /* 2px  */
    --radius-xs: 0.286rem;    /* 4px  */
    --radius-sm: 0.429rem;    /* 6px  */
    --radius-md: 0.571rem;    /* 8px  */
    --radius-lg: 0.714rem;    /* 10px */
    --radius-xl: 0.857rem;    /* 12px */
    --radius-2xl: 1rem;       /* 14px */
    --radius-3xl: 1.143rem;   /* 16px */
    --radius-4xl: 1.286rem;   /* 18px */
    --radius-5xl: 1.429rem;   /* 20px */
    --radius-6xl: 1.571rem;   /* 22px */
    --radius-7xl: 1.714rem;   /* 24px */
    --stroke-25: 0.156rem;

    --color-primary: rgb(0, 0, 0);
    --color-primary-reverse: rgb(255, 255, 255);

    --color-secondary-foreground: rgba(115, 115, 115, 1);
    --color-secondary-corner: rgba(229, 229, 229, 1);
    --color-secondary-background: rgba(248, 248, 248, 1);

    --color-secondary-reverse-foreground: rgba(136, 136, 136, 1);
    --color-secondary-reverse-corner: rgba(34, 34, 34, 1);
    --color-secondary-reverse-background: rgba(10, 10, 10, 1);

    --color-positive-foreground: rgba(16, 185, 129, 1);
    --color-positive-corner: rgba(16, 185, 129, 0.2);
    --color-positive-background: rgba(16, 185, 129, 0.1);

    --color-destructive-foreground: rgba(239, 68, 68, 1);
    --color-destructive-corner: rgba(239, 68, 68, 0.2);
    --color-destructive-background: rgba(239, 68, 68, 0.1);

    --color-warning-foreground: rgba(240, 177, 0, 1);
    --color-warning-corner: rgba(240, 177, 0, 0.2);
    --color-warning-background: rgba(240, 177, 0, 0.1);

    --color-dark-warning-foreground: rgba(255, 105, 0, 1);
    --color-dark-warning-corner: rgba(255, 105, 0, 0.20);
    --color-dark-warning-background: rgba(255, 105, 0, 0.1);

    --color-default-foreground: rgba(43, 127, 255, 1);
    --color-default-corner: rgba(43, 127, 255, 0.2);
    --color-default-background: rgba(43, 127, 255, 0.1);

    --color-ghost-foreground: rgba(0, 0, 0, 1);
    --color-ghost-corner: rgba(0, 0, 0, 0.2);
    --color-ghost-background: rgba(10, 10, 10, 0.05);

    --color-pink-foreground: rgba(246, 51, 154, 0.7);
    --color-pink-corner: rgba(246, 51, 154, 0.2);
    --color-pink-background: rgba(246, 51, 154, 0.1);

    --color-corner: rgba(229, 229, 229, 1);
    --color-separator: linear-gradient(90deg, rgba(0, 0, 0, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
    --scale-xs: 0.99;
    --scale-s: 0.95;
}

.dark {
    --color-primary: rgb(255, 255, 255);
    --color-primary-reverse: rgb(0, 0, 0);

    --color-secondary-foreground: rgba(136, 136, 136, 1);
    --color-secondary-corner: rgba(34, 34, 34, 1);
    --color-secondary-background: rgba(10, 10, 10, 1);

    --color-secondary-reverse-foreground: rgba(115, 115, 115, 1);
    --color-secondary-reverse-corner: rgba(229, 229, 229, 1);
    --color-secondary-reverse-background: rgba(248, 248, 248, 1);

    --color-positive-foreground: rgba(0, 255, 136, 1);
    --color-positive-corner: rgba(1, 255, 136, 0.20);
    --color-positive-background: rgba(1, 255, 136, 0.10);

    --color-destructive-foreground: rgba(255, 68, 68, 1);
    --color-destructive-corner: rgba(255, 107, 107, 0.20);
    --color-destructive-background: rgba(255, 68, 68, 0.20);

    --color-warning-foreground: rgba(240, 177, 0, 1);
    --color-warning-corner: rgba(240, 177, 0, 0.20);
    --color-warning-background: rgba(240, 177, 0, 0.1);

    --color-dark-warning-foreground: rgba(255, 105, 0, 1);
    --color-dark-warning-corner: rgba(255, 105, 0, 0.20);
    --color-dark-warning-background: rgba(255, 105, 0, 0.1);

    --color-default-foreground: rgba(43, 127, 255, 1);
    --color-default-corner: rgba(43, 127, 255, 0.2);
    --color-default-background: rgba(43, 127, 255, 0.1);

    --color-ghost-foreground: rgba(255, 255, 255, 1);
    --color-ghost-corner: rgba(255, 255, 255, 0.2);
    --color-ghost-background: rgba(255, 255, 255, 0.05);

    --color-pink-foreground: rgba(246, 51, 154, 0.7);
    --color-pink-corner: rgba(246, 51, 154, 0.2);
    --color-pink-background: rgba(246, 51, 154, 0.1);

    --color-corner: rgba(34, 34, 34, 1);
    --color-separator: linear-gradient(90deg, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.00) 100%);
}
